* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

/* img {
    vertical-align: middle;
    height: auto;
    width: 100%;
} */

/* Slideshow container */
.slideshow-container {
    /* width: 100%; */
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* .detail {

    position: absolute;
    bottom: 46px;
} */
.detail-left {
    width: max-content;
    max-width: 552.25px;
    max-height: 262px;
    text-align: left;
}

.banner {
    position: relative;
    background-color: #777676;
}

.title {
    font-family: 'Big Shoulders Stencil Text';
    font-size: 120px;
    font-weight: 700;
    /* color: #ffffff; */
}

.button {
    font-family: 'Space Grotesk';
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 162.25px;
    height: 49px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transform: skew(-25deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.describe {
    font-family: 'Space Grotesk';
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.dots {
    width: 120px;
    height: 16px;
}

.detail-right {
    width: max-content;
    max-width: 382px;
    height: 150px;

}

.content-top {
    width: max-content;
    min-width: 300px;
    max-width: 382px;
    height: 150px;
    border-radius: 24px;
    background-color: #29292999;
    position: relative;
}

.content-top::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 50px;
    background: none !important;
    z-index: 10;
    border-radius: 24px 0 0 0;
}

.button-bottom {
    position: absolute;
    width: 264.75px;
    height: 65px;
    left: 50%;
    /* top: 100%; */
    transform: translate(-50%, -80%);
}

.button-bottom .center {
    background-color: #E30613;
    transform: skew(-25deg);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    height: 100%;
}

.button-bottom .center .value {
    z-index: 10;
    font-family: 'Big Shoulders Display';
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.button-bottom .left {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: #009FE3;
    width: 166.25px;
    height: 100%;
    border-radius: 8px;

}

.f-space-grotesk {
    font-family: 'Space Grotesk';
}

.detail {
    display: flex;
    align-items: end;
    /* items-end */
    justify-content: space-between;
    /* justify-between */
    gap: 16px;
    /* gap-4 */
    width: 100%;
    /* w-full */
    position: absolute;
    /* absolute */
    bottom: 46px;
    /* bottom-[46px] */
    padding-left: 46px;
    /* px-[46px] */
    padding-right: 46px;
    /* px-[46px] */
    flex-wrap: nowrap;
}

@media (max-width: 783px) {

    /* md:grid-cols-2 */
    .detail {

        /* flex-wrap: wrap; */
        padding-left: 20px;
        /* px-[46px] */
        padding-right: 20px;
    }


    .detail-left {
        width: 400px;
    }


    .title {
        font-size: 100px;
    }


}

@media (max-width: 767px) {

    .detail-right {
        display: none;
    }

    .title {
        font-size: 75px;
    }

}



.registration .content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-end;

}


.button-custom {
    font-family: 'Space Grotesk';
    text-align: center;
    border-radius: 8px;
    transform: skew(-25deg);
    display: flex;
    align-items: center;
}

.button-custom> :first-child,
.button-custom> :last-child {
    transform: skew(25deg);
}

.instruct {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-items: flex-end;
}

.rounded-triangle:after {
    display: inline-block;
    margin-left: 3px;
    font-size: 5px;
    border: solid 3em transparent;
    border-top-width: 0;
    border-bottom-width: 5em;
    border-bottom-color: #FF5500;
    clip-path: circle(54% at 50% 69%);
    vertical-align: bottom;
    content: '';
}

/* .image-about:before{
    background: url("https://s3-alpha-sig.figma.com/img/103c/7320/1899a43d43548c6bda9bb995b41d3d15?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=bZQUJ17DSHB2hdluZZdkpbPZU05iPQZOc7L~EHcGTiiIDp1q9WfIxT0yA1sYxCoVJiU1uxj~zfVxdHOtozaL~8BScK6zGzST1pxPKh5hjWUpsRJYbNn38OhIw-SF2NpOu0lKFAmdULUt6VqrziLge1MV0p3g9fdtjVJRBCUDYOcs2YbKrPbNSHgYJaXNnX1XWu~-USaAU6FHeH9Ez9pymQhzCzeTDyTadDZegxXtnItduNolKI3tFJKsrTAkT872x56WOKRKWXO-n~k7nxjRMvsq0eyWScRfhv9rlV5N7mCpdCNrN~Z6J7v-HU4Yju-GaRTZsMFkRmKsU1wY4sp0cQ__");
} */

.image-about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://s3-alpha-sig.figma.com/img/103c/7320/1899a43d43548c6bda9bb995b41d3d15?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=bZQUJ17DSHB2hdluZZdkpbPZU05iPQZOc7L~EHcGTiiIDp1q9WfIxT0yA1sYxCoVJiU1uxj~zfVxdHOtozaL~8BScK6zGzST1pxPKh5hjWUpsRJYbNn38OhIw-SF2NpOu0lKFAmdULUt6VqrziLge1MV0p3g9fdtjVJRBCUDYOcs2YbKrPbNSHgYJaXNnX1XWu~-USaAU6FHeH9Ez9pymQhzCzeTDyTadDZegxXtnItduNolKI3tFJKsrTAkT872x56WOKRKWXO-n~k7nxjRMvsq0eyWScRfhv9rlV5N7mCpdCNrN~Z6J7v-HU4Yju-GaRTZsMFkRmKsU1wY4sp0cQ__');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: 10;
}

.button-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #D9D9D933, #D9D9D9);
    z-index: 1;
    border-radius: 8px 0 0 8px;
}

.button-image-actived::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(41, 41, 41, 0.2) 0%, #292929 100%);
    /* z-index: 1; */
    border-radius: 8px 0 0 8px;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(25, 25, 25, 0) 52.85%, #191919 100%);
}

.custom-radial {
    backdrop-filter: blur(100px);
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 159, 227, 0.5) 0%, rgba(227, 6, 19, 0.5) 100%);

}

.dot-number:hover{
    background-color: #D9D9D9;
    cursor: pointer; 
    outline: 1px solid #D9D9D9; /* Đường viền ngoài 1px */
    outline-offset: 1px;
}
.dot-number-active:hover{
    background-color: #D9D9D9;
    cursor: pointer; 
}